<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yan's Portfolio</title>
    <link rel="stylesheet" href="../../src/view/styles/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;500;700&display=swap"
      rel="stylesheet" />
    <link
      rel="icon"
      type="image/x-icon"
      href="../../src/public/images/favicon.ico" />
  </head>
  <body>
    <!--TOP SECTION-->
    <div class="top-section">
      <!--LEFT-->
      <div class="top-section-left">
        <div class="top-line"></div>
        <img
          class="profile-image"
          src="../../src/public/images/profile.JPG"
          alt="profile image" />
      </div>
      <!--LEFT-->

      <!--RIGHT-->
      <div class="top-section-right">
        <img src="../../src/public/icons/dark-mode.png" id="dark-mode" />
        <h1>Hi there, my name is <span>Yan</span>.</h1>
        <h3>I'm a <span>Front-End</span> Developer.</h3>
        <h4>Welcome to my <span>portfolio</span>!</h4>

        <nav>
          <a
            target="_blank"
            class="links"
            href="https://github.com/Yangerhardt">
            <img
              class="top-section-icon"
              src="../../src/public/icons/github-icon.png"
              alt="github icon" />
          </a>
          <a
            target="_blank"
            class="links"
            href="https://www.linkedin.com/in/yangerhardt/">
            <img
              class="top-section-icon"
              src="../../src/public/icons/linkedin-icon.png"
              alt="linkedin icon" />
          </a>
          <a href="mailto:yan-ragna@hotmail.com">
            <img
              class="top-section-icon last-icon"
              src="../../src/public/icons/email.png"
              alt="email icon" />
          </a>
        </nav>
        <div id="btn-lang">
          <button id="btn-en">EN-US</button>
          <button id="btn-br">PT-BR</button>
        </div>
      </div>
      <!--RIGHT-->
    </div>
    <!--TOP SECTION-->

    <!--BOTTOM SECTION-->
    <div class="bottom">
      <!--LEFT SECTION-->
      <div class="bottom-left">
        <h2 id="about">About Me</h2>
        <div class="bottom-left-text">
          I am an engineer graduated from UFRGS. A while ago I started studying
          programming and it really enchanted me, so I decided to go for it. I
          started studying Python, but what really caught my eye was the
          Front-End, so now I direct my studies towards it.
        </div>
        <h2>Skills</h2>
        <div class="bottom-left-text">
          <img
            class="top-section-icon"
            src="../../src/public/icons/004-js.png"
            alt="javascript icon" />
          <img
            class="top-section-icon"
            src="../../src/public/icons/typescript.png"
            alt="typescript icon" />
          <img
            class="top-section-icon"
            src="../../src/public/icons/react.png"
            alt="react icon" />
          <img
            class="top-section-icon"
            src="../../src/public/icons/bootstrap.png"
            alt="bootstrap icon" />
          <img
            class="top-section-icon"
            src="../../src/public/icons/nodejs-icon.png"
            alt="bootstrap icon" />
          <img
            class="top-section-icon"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original-wordmark.svg"
            alt="bootstrap icon" />
          <img
            class="top-section-icon"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/firebase/firebase-plain-wordmark.svg"
            alt="bootstrap icon" />

          <img
            class="top-section-icon"
            src="../../src/public/icons/002-html-5.png"
            alt="html icon" />
          <img
            class="top-section-icon"
            src="../../src/public/icons/003-css-3.png"
            alt="css icon" />
          <img
            class="top-section-icon"
            src="../../src/public/icons/001-python.png"
            alt="python icon" />
        </div>
        <h2 id="resume">Resume</h2>
        <div class="bottom-left-resume">
          <form
            method="get"
            action="../../src/public/resume/yan-resume.pdf"
            target="_blank">
            <button class="resume-button">Resume</button>
          </form>
        </div>
      </div>
      <!--LEFT SECTION-->

      <!--RIGHT SECTION-->
      <div class="bottom-right">
        <h2 id="projects">Projects</h2>

        <div class="project-left" data-name="Controle de Gastos">
          <a href="#">
            <img
              data-name="hackathon"
              class="project-image"
              src="../../src/public/images/hackathon-homepage.png"
              alt="controle de gastos image" />
          </a>
          <div class="project-infos">
            <h3>Orange Evolution 2.0</h3>
            <div class="project-description" id="proj-5">
              Project developed during the Hackathon of the Training Program of
              FCamara and Orange Juice. The problem presented was to create an
              available study trail organization platform: Fullstacks, QA and
              UX/UI. For this, we work together with the UX/UI to understand the
              pains of users and thus model a better project.
              <br /><span class="span-open-modal">See more</span>
            </div>
          </div>
        </div>
        <div class="project-divisor">
          <hr />
          <div>//</div>
          <hr />
        </div>

        <div class="bottom-right-projects">
          <div class="project-right" data-name="Patchwork com Arte">
            <div class="project-infos">
              <h3>Patchwork com Arte</h3>
              <div class="project-description order-2" id="proj-1">
                The goal was to create a landing page to introduce a brand and
                it's products. Also, it should contain infos about product
                personalization and some carrousel with samples of the products.
                Eventually, it would become a functional e-commerce webpage,
                with registration, login and checkout
                <br /><span class="span-open-modal">See more</span>
              </div>
            </div>
            <a href="#">
              <img
                data-name="patchwork-com-arte"
                class="project-image order-1"
                src="../../src/public/images/patchwork-com-arte2.png"
                alt="Patchwork com Arte image" />
            </a>
          </div>
          <div class="project-divisor">
            <hr />
            <div>//</div>
            <hr />
          </div>

          <div class="project-left" data-name="Controle de Gastos">
            <a href="#">
              <img
                data-name="controle-gastos"
                class="project-image"
                src="../../src/public/images/controle-gastos.png"
                alt="controle de gastos image" />
            </a>
            <div class="project-infos">
              <h3>Controle de gastos</h3>
              <div class="project-description" id="proj-5">
                Desgined to work as a monye inflow and outflow controller,
                making possible to add and remove any transaction. All the data
                is storaged in the browser, so that it's not lost when the page
                is refreshed. <br /><span class="span-open-modal"
                  >See more</span
                >
              </div>
            </div>
          </div>
        </div>
        <!--RIGHT SECTION-->
      </div>
    </div>
    <!--BOTTOM SECTION-->

    <!--MODAL-->
    <dialog id="modal-projetos">
      <div class="carousel" data-carousel>
        <button class="carousel-button prev" data-carousel-button="prev">
          &#8656;
        </button>
        <button class="carousel-button next" data-carousel-button="next">
          &#8658;
        </button>
        <section aria-label="Imagens dos projetos">
          <ul data-slides>
            <li class="slide" data-active>
              <img
                src="../../src/public/images/hackathon0.png"
                alt="Imagem do projeto"
                class="modal-img" />
            </li>
            <li class="slide">
              <img
                src="../../src/public/images/hackathon1.png"
                alt="Imagem do projeto"
                class="modal-img" />
            </li>
            <li class="slide">
              <img
                src="../../src/public/images/hackathon2.png"
                alt="Imagem do projeto"
                class="modal-img" />
            </li>
            <li class="slide">
              <img
                src="../../src/public/images/hackathon3.png"
                alt="Imagem do projeto"
                class="modal-img" />
            </li>
          </ul>
        </section>
      </div>
      <h2 class="nome-projeto-modal">Título do projeto</h2>
      <ul class="stack-list">
        <li class="stack stack-1">Javascript</li>
        <li class="stack stack-2">Boostrap</li>
        <li class="stack stack-3">HTML</li>
        <li class="stack stack-4">CSS</li>
        <li class="stack stack-5">Node.Js</li>
        <li class="stack stack-6">Express</li>
        <li class="stack stack-7">Jest</li>
        <li class="stack stack-8">Heroku</li>
      </ul>
      <p class="modal-descricao-projeto">
        Projeto desenvolvido durante o Hackathon do Programa de Formação da
        FCamara e da Orange Juice. A problemática apresentada foi de criar uma
        plataforma de organização das trilhas de estudo disponíveis: Fullstacks,
        QA e UX/UI. Para isso, trabalhamos em conjunto com a UX/UI para entender
        as dores dos usuários e, assim, modelar um projeto melhor.
      </p>
      <a
        href="https://github.com/orgs/Hackaton-Squad-22/repositories"
        class="modal-redireciona-proj"
        target="_blank"
        >Ver projeto
      </a>
      <button class="fechar-modal">x</button>
    </dialog>
    <!--MODAL-->

    <script type="module" src="../../src/controller/main.js"></script>
  </body>
</html>
